<footer id="footer">
    <div class="footer-mentions">
        <div class="container">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    &copy; {{ 'now' | date('Y') }} {{ config.site.title|e }}
                </li>
                <li class="list-inline-item">
                    Made with <a href="https://getgrav.org">Grav</a>
                </li>
                <li class="list-inline-item">
                    Theme by <a href="https://dezo.dev">Dezodev</a>
                </li>
            </ul>
        </div>
    </div>
</footer>